<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchCategories</servlet-name>
        <servlet-class>fetchCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchSubcategory</servlet-name>
        <servlet-class>fetchSubcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierRegestration</servlet-name>
        <servlet-class>SupplierRegestration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSupplier</servlet-name>
        <servlet-class>FetchSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagement</servlet-name>
        <servlet-class>UserManagement</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>singleproduct</servlet-name>
        <servlet-class>singleproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>forgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchproduct</servlet-name>
        <servlet-class>fetchproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchsingle</servlet-name>
        <servlet-class>fetchsingle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>startAuction</servlet-name>
        <servlet-class>startAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productauction</servlet-name>
        <servlet-class>productauction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bidding</servlet-name>
        <servlet-class>Bidding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserProfile</servlet-name>
        <servlet-class>updateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchwinner</servlet-name>
        <servlet-class>fetchwinner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpcommingAuction</servlet-name>
        <servlet-class>UpcommingAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchFeedbacj</servlet-name>
        <servlet-class>fetchFeedbacj</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchCategories</servlet-name>
        <url-pattern>/fetchCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchSubcategory</servlet-name>
        <url-pattern>/fetchSubcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierRegestration</servlet-name>
        <url-pattern>/SupplierRegestration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchSupplier</servlet-name>
        <url-pattern>/FetchSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagement</servlet-name>
        <url-pattern>/UserManagement</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>singleproduct</servlet-name>
        <url-pattern>/singleproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchproduct</servlet-name>
        <url-pattern>/fetchproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchsingle</servlet-name>
        <url-pattern>/fetchsingle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>startAuction</servlet-name>
        <url-pattern>/startAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productauction</servlet-name>
        <url-pattern>/productauction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bidding</servlet-name>
        <url-pattern>/Bidding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserProfile</servlet-name>
        <url-pattern>/updateUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchwinner</servlet-name>
        <url-pattern>/fetchwinner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpcommingAuction</servlet-name>
        <url-pattern>/UpcommingAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchFeedbacj</servlet-name>
        <url-pattern>/fetchFeedbacj</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    d
    </web-app>
